@model SistemaCalidad.Models.Producto
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
        <h1 class="page-title text-align-center txt-color-blueDark">
            <b>   &nbsp;</b>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
        <ul id="sparks">
            <li class="sparks-info">
                <a class="btn btn-primary" onclick="cargando()" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well no-padding">

            <form asp-action="Manage" method="post" novalidate="novalidate" class="smart-form client-form">
                <header>
                    @ViewData["accion"] Producto
                </header>
                @{
                    if (Model != null)
                    {
                        <input type="hidden" asp-for="ProductoId" />
                    }
                }
                <fieldset>
                    <section>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </section>
                    <div class="col col-lg-12"><legend>Producto</legend><br /></div>
                    <div class="col-lg-12">
                        <section class="col col-lg-6">
                            <label class="label">Clase</label>
                            <div class="form-group">
                                <div class="input">
                                    <select asp-for="ClaseProductoId" class="form-control select2" asp-items="ViewBag.IdClaseProducto"></select>
                                    <span asp-validation-for="ClaseProductoId" class="text-danger"></span>
                                </div>
                            </div>
                        </section>
                        <section class="col col-lg-6">
                            <label class="label">Código</label>
                            <label class="input">
                                <i class="icon-append fa fa-pencil-square-o"></i>
                                <input type="text" asp-for="CodigoProducto" placeholder="Código">
                                <b class="tooltip tooltip-bottom-right">Ingrese el c&oacute;digo del Producto</b>
                                <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                    <section class="col col-6">
                        <label class="label">Dimensi&oacute;n m&iacute;nima</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="DimensionMinima" placeholder="Dimensión máxima">
                            <b class="tooltip tooltip-bottom-right">Ingrese la dimensi&oacute;n m&iacute;nima</b>
                            <span asp-validation-for="DimensionMinima" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-6">
                        <label class="label">Dimensi&oacute;n m&aacute;xima</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="number" asp-for="DimensionMaxima" placeholder="Dimensión máxima">
                            <b class="tooltip tooltip-bottom-right">Ingrese la dimensi&oacute;n m&aacute;xima</b>
                            <span asp-validation-for="DimensionMaxima" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-6">
                        <label class="label">Grado</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="Grado" placeholder="Grado">
                            <b class="tooltip tooltip-bottom-right">Ingrese el grado</b>
                            <span asp-validation-for="Grado" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-6">
                        <label class="label">Diametro</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="number" asp-for="Nominal" placeholder="Diametro">
                            <b class="tooltip tooltip-bottom-right">Ingrese el Diametro</b>
                            <span asp-validation-for="Nominal" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-6">
                        <label class="label">Caracter&iacute;stica adicional 1</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="DefUsuario1" placeholder="Caracteristística adicional 1">
                            <b class="tooltip tooltip-bottom-right">Caracteristística adicional 1</b>
                            <span asp-validation-for="DefUsuario2" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-lg-6">
                        <label class="label">Caracter&iacute;stica adicional 1</label>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            <input type="text" asp-for="DefUsuario2" placeholder="Caracteristística adicional 2">
                            <b class="tooltip tooltip-bottom-right">Caracteristística adicional 2</b>
                            <span asp-validation-for="DefUsuario2" class="text-danger"></span>
                        </label>
                    </section>
                    <div class="col-lg-12">
                        <section class="col col-lg-12">
                            <label class="label">Descripci&oacute;n</label>
                            <label class="textarea">
                                <textarea rows="5" asp-for="DescripcionProducto" placeholder="Descripción del producto"></textarea>
                                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
                            </label>
                        </section>
                    </div>
                    <div class="col-lg-12">
                        <section class="col col-lg-12">
                            <label class="label">Observaciones</label>
                            <label class="textarea">
                                <textarea rows="5" asp-for="ObservacionProducto" placeholder="Observaciones del producto"></textarea>
                                <span asp-validation-for="ObservacionProducto" class="text-danger"></span>
                            </label>
                        </section>
                    </div>



                    <div class="col-lg-12">
                        <div class="col col-lg-12"><legend>Producto Final</legend><br /></div>
                        <section class="col col-lg-12">
                            <label class="label">Código</label>
                            <label class="input">
                                <i class="icon-append fa fa-pencil-square-o"></i>
                                <input type="text" asp-for="CodigoProductoFinal" placeholder="Código">
                                <b class="tooltip tooltip-bottom-right">Ingrese el c&oacute;digo del Producto Final</b>
                                <span asp-validation-for="CodigoProductoFinal" class="text-danger"></span>
                            </label>
                        </section>

                        <div class="col-lg-12">

                            <section class="col col-lg-12">
                                <label class="label">Descripci&oacute;n</label>
                                <label class="textarea">
                                    <textarea rows="5" asp-for="DescripcionProductoFinal" placeholder="Descripción del producto final"></textarea>
                                    <span asp-validation-for="DescripcionProductoFinal" class="text-danger"></span>
                                </label>
                            </section>
                        </div>
                    </div>
                </fieldset>
                <footer>
                    <button type="submit" id="btn-guardar" class="btn btn-primary">
                        Guardar
                    </button>
                    <a asp-action="Index" onclick="cargando()" class="btn btn-default"><strong> Cancelar </strong></a>
                </footer>
            </form>

        </div>
    </div>
</div>
<!-- /.modal -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
